.App{
  background-color: black;
  color:white;
  text-align: center;
  font-weight: bold;
} 
form{
  display: flex;
}

 
input{
 display: flex;


  width: 200px;
  height:25px;
  margin-right: 50px;
  border-radius: 10px;
}

#inputstyle input:hover{
background-color: rgb(247, 238, 238);
}
.button{
  background-color: black;
  color:white;
  border-radius: 15%;
}
.button:hover{
  background-color: lightgoldenrodyellow;
}



.box{
  background-color: aliceblue;
  padding: 10px;
  font-size: medium;
}



.items{
  display: flex;
  /* align-items: center; */
  justify-content:space-evenly;
  padding-right: 10px;
  margin-right: 20px;
} 

 

.deletebtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
















/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar .active{
color:rgb(65, 231, 23);
background-color: aqua;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
